h1
{
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 5%;
  margin: auto;
  margin-top: 5%;
  font-size: 50px;
}

body
{
  background-image: url("images/4.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.conatiner
{
  position: fixed;
  max-width: 700px;
  width: 100%;
  background: transparent;
  background-image: url("images/formbg.avif");
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 500;
  text-align: center;
}
.form
{
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #000000;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
label
{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;

}

input[type="text"]
input[type="password"]

{
  font-family: 'Poppins', sans-serif;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing:border-box;
  height: 35px;
}

input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  background-color: #9f57e8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 200px;
  margin-top: 20%;
}

input[type="submit"]:hover {
  background-color: #c81687;
}


